POSTGRES_DB=quant
POSTGRES_USER=quant
POSTGRES_PASSWORD=quantpass
POSTGRES_PORT=5432

APP_NAME=Quant Backend
FRONTEND_ORIGIN=http://localhost:3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000

MASSIVE_API_KEY=
MASSIVE_S3_ACCESS_KEY=
MASSIVE_S3_SECRET_KEY=
MASSIVE_S3_ENDPOINT=
MASSIVE_S3_BUCKET=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

ALPACA_API_KEY=
ALPACA_SECRET_KEY=
ALPACA_BASE_URL=https://paper-api.alpaca.markets
