aiohttp==3.13.0
boto3==1.40.44
fastapi==0.116.1
numpy==2.3.2
psycopg[binary]==3.2.10
pydantic==2.11.7
pdfplumber==0.11.4
pypdf==5.1.0
chardet==5.2.0
python-dotenv==1.1.1
reportlab==4.2.5
scifont==0.1.9
requests==2.32.4
SQLAlchemy==2.0.43
tqdm==4.67.1
uvicorn==0.35.0
